@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 1.5em;
}

.left-line {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  background-image: linear-gradient(-45deg, #563279, #370a38, #370a38);
}

.container {
  display: flex;
  align-items: center;
  margin: 5em auto;
  max-width: 1200px;
  justify-content: center;
  gap: 6em;
  cursor: default;
}

/* LEFT */

.left {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
}

.card {
  width: 407px;
  height: 245px;
  border: none;
  border-radius: 16px;
  padding: 32px;
  color: #fff;
  box-shadow: -20px 20px 20px 5px rgba(0, 0, 0, 0.13);
}

.top-card {
  background-image: linear-gradient(-45deg, #370a38, #563279, #563279);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: -4em;
}

.bottom-card {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.gray-line {
  width: 100%;
  height: 54px;
  background-color: #2f2f2f;
  position: absolute;
  left: 0;
  top: 20px;
}

.card-cvc {
  display: flex;
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #adadad;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3em;
}

.dashes {
  max-width: 50%;
  text-align: justify;
  color: #adadad;
  margin-top: 2em;
}

.circle1 {
  position: absolute;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 32px;
  left: 32px;
}

.circle2 {
  position: absolute;
  background-color: transparent;
  border: 1px solid #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 42px;
  left: 86px;
}

.third-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5em;
}

/* RIGHT */

.right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 381px;
}

.mt {
  margin-top: 1em;
}

.input-inner {
  padding: 10px;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.form-button {
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-image: linear-gradient(-45deg, #563279, #370a38, #370a38);
  cursor: pointer;
  margin-top: 2em;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.8fr 1fr;
  grid-template-areas:
    "g1 g2"
    "g3 g4";
  column-gap: 0.5em;
}

.YM {
  display: flex;
  gap: 0.5em;
  grid-area: g3;
}

.MM,
.YY {
  width: 80px;
}

.d1 {
  grid-area: g1;
}

.d2 {
  grid-area: g2;
}

.CVC {
  grid-area: g4;
}

/* ACCEPT CONTAINER */

.accept-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.accept-circle {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #370a38, #563279, #563279);
  font-size: 30px;
  color: #fff;
}

.accept-text {
  color: gray;
}

.accept-button {
  width: 100%;
}

@media screen and (max-width: 1010px) {
  .container {
    flex-direction: column;
  }

  .top-card {
    margin-left: 0;
  }

  .left-line {
    width: 100vw;
    height: 31%;
  }

  .left {
    flex-direction: column-reverse;
    gap: 0;
  }

  .top-card {
    margin-top: -8em;
    z-index: 1;
  }

  .bottom-card {
    margin-left: 6em;
  }
}

@media screen and (max-width: 530px) {
  .card {
    width: 276px;
    height: 157px;
  }

  body {
    font-size: 12px;
  }

  .circle1 {
    height: 30px;
    width: 30px;
    top: 16px;
    left: 16px;
  }

  .gray-line {
    height: 20px;
  }

  .circle2 {
    height: 10px;
    width: 10px;
    left: 50px;
    top: 26px;
  }

  .top-card h2 {
    font-size: 16px;
  }

  .card {
    padding: 16px;
  }

  .third-line {
    margin-top: 0.9em;
  }

  .card-cvc {
    margin-top: 4em;
  }

  .container {
    margin-top: 0;
  }

  .bottom-card {
    margin-left: 2.5em;
  }

  .top-card {
    margin-top: -7em;
    margin-left: -0.5em;
  }

  .left-line {
    width: 100vw;
    height: 30%;
  }

  .form {
    width: 90%;
  }

  .MM,
  .YY {
    width: 50px;
  }
}
